/*
color palette
https://coolors.co/bed3b1-577642-a26628-e2b88d-000000
*/

/*
Merriweather
https://github.com/EbenSorkin/Merriweather
Open Font License 1.1 (https://scripts.sil.org/OFL)
*/
/* Merriweather Black */
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather-black.woff2") format("woff2"),
       url("../fonts/merriweather-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
/* Merriweather Black Italic */
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather-blackitalic.woff2") format("woff2"),
       url("../fonts/merriweather-blackitalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
/* Merriweather Regular */
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather-regular.woff2") format("woff2"),
       url("../fonts/merriweather-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Merriweather Italic */
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather-italic.woff2") format("woff2"),
       url("../fonts/merriweather-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/*
Nunito Sans
https://github.com/googlefonts/NunitoSans
Open Font License 1.1 (https://scripts.sil.org/OFL)
*/
/* Nunito Sans Regular */
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/nunitosans-regular.woff2") format("woff2"),
       url("../fonts/nunitosans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Nunito Sans Italic */
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/nunitosans-italic.woff2") format("woff2"),
       url("../fonts/nunitosans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/*
Transliteration
Specifically for Essay 7, provided by author
*/
/* Transliteration Italic */
@font-face {
  font-family: "Transliteration";
  src: url("../fonts/transliteration-italic.woff2") format("woff2"),
       url("../fonts/transliteration-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* COVER */
.quire-cover__overlay {
  background-size: contain;
  background-position: right;
}
.quire-cover__hero {
  background-image: initial;
  background-color: #000;
}
.hero.is-halfheight .hero-body, .hero.is-fullheight .hero-body, .hero.is-fullheight-with-navbar .hero-body {
  align-items: initial;
}
.hero-body .container.is-fluid {
  bottom: initial;
  margin-left: 32px;
  background: inherit;
}
@media screen and (max-width:1440px) {
  .hero-body .container.is-fluid {
    margin-left: 96px;
    width: 500px;
  }
}
@media screen and (max-width:1150px) {
  .hero-body .container.is-fluid {
    margin-left: 32px;
  }
}
.quire-cover__hero .title {
  color: #bed3b1;
  line-height: 1.3;
  font-weight: 900;
}
.quire-cover__hero .subtitle {
  color: #bed3b1;
  line-height: 1.2;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.25rem;
  margin-top: .5rem;
}
.quire-cover__hero .contributor {
  color: #bed3b1;
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 2.25rem;
  font-size: 1.25rem;
}

/* PAGE STYLES*/
.quire-page__header .hero-body .label {
  background-color: #577642;
}
.quire-page h1, .quire-page__header__title {
  font-size: 2.7rem;
  line-height: 1.2;
  font-weight: 900;
}
.quire-page__header .hero-body {
  max-width: 1000px;
  margin: 0 auto;
}
.quire-page h2,
.quire-page h2:not(:first-child) {
  text-transform: none;
  margin-top: 1.25rem;
}

/* MENU ACTIVE ITEM COLOR */
.quire-menu .page-item a.active,
.quire-menu .section-item a.active {
  color: #bed3b1 !important;
  border-color: #bed3b1;
}

/* TOC LINE SPACING */
.quire-page__content .quire-contents-list.list .title {
  line-height: 1.5;
}

/* FIX FIGURE LABEL LINE SPACING */
.quire-figure__label .quire-figure__label-icon {
  height: 0;
  margin-top: -2.3em;
}

/* COPYRIGHT NOTICES AT THE BOTTOM OF ESSAYS */
.quire-page__content .container .content .backmatter.page-copyright-notice {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #333;
}

/* ESSAY 4 */
.quire-page__content .glyph img {
  max-height: 1.5em;
  margin-top: -.5em;
  margin-bottom: -.2em;
}

/* ESSAY 7 */
.quire-page--transliteration .quire-page__content p img,
.quire-page--transliteration .quire-page__content table img,
.quire-page--transliteration .quire-page__content li img,
.quire-page--transliteration .quire-page__content dd img {
  max-height: 1.5em;
  margin-top: -.5em;
  margin-bottom: -.1em;
}
.quire-page--transliteration .quire-page__content table td:nth-child(n+2):nth-child(-n+3) img {
  max-height: 5em;
  margin-top: 0;
  margin-bottom: 0;
}
.quire-page--transliteration .quire-page__content em strong {
  font-family: "Transliteration", serif;
  font-size: 1.1em;
  font-style: normal;
  line-height: 1.43;
}
.quire-page--transliteration .quire-page__content table {
  font-size: 1em;
}
.quire-page--transliteration .quire-page__content .underline {
  text-decoration: underline;
}
.quire-page--transliteration .quire-page__content .smallcaps {
  font-variant: small-caps;
}

/* ABOUT & COPYRIGHT PAGE */
/* LOC Cataloguing in Publication format */
.quire-page__content .container .content .cip-data p {
  margin-bottom: 0;
}
.quire-page__content .container .content .cip-data ul {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}
.quire-page__content .container .content .cip-data ul li {
  line-height: 1.6;
  margin: 0;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
.quire-page__content .container .content .cip-data ul li::before {
  display: none;
}
@media print {
  #copyright .quire-page.quire-page--frontmatter {
    page: no-footer;
  }
  #copyright .quire-page__header {
    display: none;
  }
  #copyright .quire-page__content {
    column-count: 2;
    column-gap: .1875in;
    column-fill: auto;
    max-width: 100%;
    height: 100%;
    margin: 0;
    text-align: left;
  }
  #copyright img {
    height: .25in;
  }
}

/* IMAGES */
.quire-figure.pdf-30-percent-width .q-figure__wrapper img {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}